.header {
  background-color: #cabbb7;
  padding: 10%;
}
#Mainlogo {
  float: right;
  width: 40%;
  display: block;
  margin: -13vh -4vh -3vh 0;
}

.subcontent {
  float: right;
  background-color: #c65252;
  width: 100%;
  height: 100px;
  margin-top: -15px;
}
.navigation {
  float: right;
  margin-right: 3%;
  font-size: 2em;
  color: white;
  text-decoration: none;
  margin-top: 22px;
}
h1 {
  text-align: center;
  font-size: 5em;
  font-family: "Varela Round", sans-serif;
  margin-top: 130px;
}

.picture1 {
  display: block;

  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 22em;
  width: 77em;
}
.subtitle1 {
  display: block;
  text-align: center;
  font-size: 2em;
}
.subtitle2 {
  display: block;

  width: 40%;
}

.subtitle3 {
  text-align: center;
  float: right;
  width: 40%;
}

.subcontent2 {
}

.picture3 {
  float: right;
}
.footer {
  height: 10vh;
  background-color: #cabbb7;
  text-align: center;
  margin-bottom: 0;
}
#lastimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
